# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
/.idea
/node_modules
/test/misc/**
/doc/**
*_ast.json
*_stg.js
!groupGen_stg.js
.vscode/